/* @font-face {
    font-family: "Manrope";
    src: url(asset/Inter-VariableFont_slntwght.ttf);
    font-family: 'Manrope', sans-serif;
    src: url(url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap'))
  } */

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.nav-flex{
    gap: 40px;
}


h3{
    font-family: "Manrope";
    font-weight: 500;
    color: #000;
    font-size: 32px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .flex-box{
    display: flex;
    gap: 20px;
}
.logoImg{
    height: 30px;
}

  .menuFont{
    font-family: "Manrope";
    font-size: 16px;
    pointer-events: none;
    color: black;
  }